{
  "GoogleDrive": {
    "RootFolderId": "1g1sl-pKk1d3sixMkpXbSWmiFDXb55u-n",
    "ExpenseRootFolderId": "1Hh5whYpr638YxI9JMO8Y8R_Zyiy7wS6T",
    "ClientId": "YOUR_GOOGLE_CLIENT_ID",
    "ClientSecret": "YOUR_GOOGLE_CLIENT_SECRET",
    "RefreshToken": "YOUR_GOOGLE_REFRESH_TOKEN"
  }
}
