{
  "GoogleDrive": {
    "RootFolderId": "1g1sl-pKk1d3sixMkpXbSWmiFDXb55u-n",
    "ClientId": "YOUR_GOOGLE_CLIENT_ID",
    "ClientSecret": "YOUR_GOOGLE_CLIENT_SECRET",
    "RefreshToken": "YOUR_GOOGLE_REFRESH_TOKEN"
  }
}
